<div class="ctcard ctcard-popup">
	<div class="ctcard-front ctcard-popup-front"></div>
	<div class="ctcard-back ctcard-popup-back">
		<div class="ctcard-back-close">
			<i class="ion-ios-close-empty"></i>
		</div>
		<div class="ctcard-back-userinfo">
			<div class="ctcard-back-avatar">
				<ng-letter-avatar dynamic="true" charCount="2" fontsize="23" shape="round" avatarcustombgcolor="#30BFB3" data="{{selectedItem.fromUser.username}} {{selectedItem.fromUser.lastName}}"
					ng-if="!selectedItem.fromUser.useravitar"></ng-letter-avatar>
				<img ng-src="data:image/jpeg;base64,{{selectedItem.fromUser.useravitar}}" class="avatar-image center-image" ng-if="selectedItem.fromUser.useravitar"
				/>
			</div>
			<p class="ctcard-back-userinfo-1" ng-class="{'ctcard-back-userinfo-1-padded': isPatientTimeline}">{{selectedItem.fromUser.username}} {{selectedItem.fromUser.lastName}}</p>
			<div class="ctcard-back-userinfo-2" ng-if="!isPatientTimeline">
				<i class="ion-ios-medkit-outline"></i>
				<p>{{selectedItem.toPatient.firstName}} {{selectedItem.toPatient.lastName}}</p>
			</div>
			<p class="ctcard-back-userinfo-3" ng-if="!isPatientTimeline">MRN: {{selectedItem.toPatient.mrn}}</p>
		</div>
		<p class="ctcard-back-datetime">
			{{selectedItem.createdTimestamp / 1000 | amFromUnix | amDateFormat:'MMM D, YYYY - h:mm A'}}
		</p>
		<div class="ctcard-back-description">
			<ion-scroll zooming="false" direction="y">
				<img ng-src="data:image/jpeg;base64,{{selectedItem.image}}" ng-show="selectedItem.image" ng-click="showImage()" />
				<div class="ctcard-back-description-text" ng-bind-html="selectedItem.message | linky"></div>
			</ion-scroll>
		</div>
		<div class="ctcard-back-buttons">
			<button type="button" ng-click="button1Click()" ng-if="loggedInUserID != selectedItem.fromUser.userid">
				<span>Message User</span>
				<i class="ion-ios-arrow-right"></i>
			</button>
			<button type="button" ng-click="button2Click()" ng-if="!isPatientTimeline">
				<span>View Patient</span>
				<i class="ion-ios-arrow-right"></i>
			</button>
		</div>
	</div>
</div>
<div class="ctcard-popup-background"></div>