<div class="ctcard ctcard-static">
	<div class="ctcard-datetime"></div>
	<div class="ctcard-front">
		<div class="ctcard-info ctcard-info-noavatar">
			<div class="ctcard-primary">{{item.teamName}}</div>
			<div class="ctcard-secondary">{{item.location}}</div>
		</div>
		<div class="ctcard-icons">
			<div class="ctcard-icons-top">
				<i class="ion-ios-star" ng-if="item.isMyTeam"></i>
			</div>
			<div class="ctcard-icons-middle">
				<i class="ion-ios-arrow-right"></i>
			</div>
			<div class="ctcard-icons-bottom">

			</div>
		</div>
	</div>
</div>